<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antidots.android.altibus"
    android:versionCode="1"
    android:versionName="1.0" >
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> 
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:debuggable="false"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Example" >
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name="fr.wheelmilk.android.altibusproject.AltibusMainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.SuperExampleMainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
			android:theme="@style/Theme.SuperExample"
            android:name="fr.wheelmilk.android.altibusproject.GareAllerPopUp"
            android:label="Altibus" >
        </activity>
        <activity
            android:theme="@style/Theme.SuperExample"
            android:name="fr.wheelmilk.android.altibusproject.GareArriveePopUp"
            android:label="Altibus" >
        </activity>
        <activity
            android:theme="@style/Theme.SuperDatePicker"
            android:name="fr.wheelmilk.android.altibusproject.DatePickerPopUp"
            android:label="Altibus" >
        </activity>
        <activity
            android:theme="@style/Theme.SuperExample"
            android:name="fr.wheelmilk.android.altibusproject.HorrairesPopUpActivity"
            android:label="Altibus" >
        </activity>
        <activity android:name="fr.wheelmilk.android.altibusproject.UserPreferences" 
            android:label="Altibus"
            android:theme="@style/Theme.SuperLightExample"/>
        <activity android:name="fr.wheelmilk.android.altibusproject.PassagersPopUp"
            android:uiOptions="splitActionBarWhenNarrow"
            android:label="Altibus"
            android:theme="@style/Theme.SuperLightExample"/>
        <activity android:name="fr.wheelmilk.android.altibusproject.EditionPassager" 
            android:label="Altibus"
            android:theme="@style/Theme.SuperLightExample"/>
        <activity android:name="fr.wheelmilk.android.altibusproject.PaiementPopUp" 
            android:label="Altibus"
            android:theme="@style/Theme.SuperExample"/>
        <activity android:name="fr.wheelmilk.android.altibusproject.BilletCompostagePopUp" 
            android:label="Altibus"
            android:theme="@style/Theme.SuperExample"/>

    </application>

</manifest>
